<html>
  <body>
    
    <form action="/albums" method="POST">
      <label for="album_name">Album Name:</label><br>
      <input type="text" id="album_name" name="title"><br>

      <label for="release">Release_year:</label><br>
      <input type="text" id="release" name="release_year"><br>

      <label for="id">Artist_ID:</label><br>
      <input type="number" id="id" name="artist_id"><br>

      <input type="submit" value="Create Album">
    </form>
  </body>

</html>
